<!DOCTYPE html>
<html>
    <head>
        <title>My Chess App</title>
        <meta charset = "UTF-8"/>
        <meta name = "author" content = "Ãcaro Pereira (@icarosun)"/>
        <link rel = "stylesheet" href = "/css/main.css"/>
    </head>

    <body>
        <header></header>
        <aside></aside>
        <aside></aside>
        <main class = "container">
            {{{body}}}
        </main>
        <footer></footer>
        
        <script src = "/js/bootstrap.bundle.min.js"></script>
        <script src = "/js/index.js"></script>
    </body>
</html>