<!DOCTYPE html>
<html>
    <head>
        <title>My Chess App</title>
        <meta charset = "UTF-8"/>
        <meta name = "author" content = "Ãcaro Pereira (@icarosun)"/>
    </head>

    <body>
        {{{body}}}
    </body>
</html>