.button7 {
    display:inline-block;
    box-sizing: border-box;
    text-decoration:none; /* permite que as palavras não fique sublinhadas */
    background-color:#3369ff;
    
    padding: 15px 40px;
    margin: 0px 5px 5px 0px;
    border-radius: 8px;
    font-family: Robot, sans-serif;
    font-weight: 400;
    box-shadow: 0 -10px 20px -1px rgb(0, 0, 0, 0.17) inset;
    color: #FFFFFF;
}

.login {
    background-color: #2979FF;
}

.register {
    background-color: #CCCCCC;
    color: #000000;
}

.moodle {
    background-color: #F6DE1E;

}

span {
    font-family: 'Comic Sans MS';
    font-size: 3em;
    margin-right: 0.3em;
    border-right: 4px solid rgb(255, 255, 255, 0.5);
    vertical-align: middle;
    padding-right: 32px;
}