body {
    font-family: Arial;
}

header, footer {
    color: white;
    text-align: center;
    background-color:#333;
}

nav ul {
    background-color:#444;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.destaque {
    text-align: center;
    background-color:#f2f2f2;
}

.destaque img {
    width: 100%;
    max-height: 300px;
}

.produtos {
    background-color: #fff;
}

.produto {}

.produto > .img_produto{
    width: 200px;
    height: 200px;
}

.produto h3 {
    font-size: 24px;
}
