<!DOCTYPE html>
<html>
    <head>
        <title>HB2</title>
        <meta charset = "UTF-8"/>
        <meta name = "author" content = "Ãcaro Pereira (@icarosun)"/>
    </head>
    <body>
        <div class = "entry">
            {{#if poweredByNodejs}}
                <span>{{name}} {{type}}</span>
            {{/if}}
        </div>
    </body>
</html>