<!DOCTYPE html>
<html>
    <head>
        <title>HB3</title>
        <meta charset = "UTF-8"/>
        <meta name = "author" content = "Ãcaro Pereira (@icarosun)"/>
    </head>
    <body>
        <div class = "container">
            <p>Alguns professores do Icomp/UFAM</p>
            <ul>
                {{#each profes}}
                    <li>{{nome}} - sala {{sala}}</li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>