<!DOCTYPE html>
<html>
    <head>
        <title>HB4!</title>
        <meta charset = "UTF-8"/>
        <meta nome = "author" content = "Ãcaro Pereira (@icarosun)"/>
    </head>
    <body>
        <div class = "container">
            <p>Technologias baseadas no NodeJs:</p>
            <ul>
                {{{listTechs technologies}}}
            </ul>
        
        </div>
    </body>
</html>