<!DOCTYPE html> 
<html>
    <head>
        <title>HB5</title>
        <meta charset = "UTF-8"/>
        <meta name = "author" content = "Ãcaro Pereria (@icarosun)"/>
    </head>
    <body>
        <div class = "container">
            Alguns professores do IComp/UFAM: 
            {{{listProfs profes}}}
        </div>
    </body>
</html>